# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log
*.pdb
*.exe
*.dll
*.obj
*.idb
*.ipch
*.aps
*.ncb
*.sbr
*.tlb
*.tli
*.tlh
*.bak
*.tmp

# Build Folders
bin/
obj/
out/

# NuGet Packages
*.nupkg
packages/
# The packages folder can be ignored if you restore via NuGet
*.snupkg

# Visual Studio Code settings
.vscode/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# WCF / WPF specific
*.svcinfo
*.svcmap
*.xaml.g.cs
*.g.i.cs

# Publish / Deployment
*.Publish.xml
*.pubxml
*.publishproj

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/