<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>

		<section
		  name="log4net"
		  type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

		<sectionGroup
		  name="userSettings"
		  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

			<section
			  name="ArchsVsDinosClient.Properties.Settings"
			  type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			  allowExeDefinition="MachineToLocalUser"
			  requirePermission="false" />

		</sectionGroup>
	</configSections>

	<log4net>

		<appender
		  name="RollingFileAppender"
		  type="log4net.Appender.RollingFileAppender">

			<file value="logs\ArchsVsDinosClient.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern
				  value="%date [%thread] %-5level %logger - %message%newline%exception" />
			</layout>

		</appender>

		<appender
		  name="ConsoleAppender"
		  type="log4net.Appender.ConsoleAppender">

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern
				  value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>

		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>

	</log4net>

	<startup>
		<supportedRuntime
		  version="v4.0"
		  sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<userSettings>
		<ArchsVsDinosClient.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>es-MX</value>
			</setting>
		</ArchsVsDinosClient.Properties.Settings>
	</userSettings>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IProfileManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IRegisterManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IAuthenticationManager">
					<security mode="None" />
				</binding>

				<binding
				  name="NetTcpBinding_IChatManager"
				  closeTimeout="00:00:30"
				  openTimeout="00:00:30"
				  receiveTimeout="00:10:00"
				  sendTimeout="00:00:30">
					<security mode="None" />
				</binding>

				<binding name="NetTcpBinding_IMatchLobbyManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IFriendManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IFriendRequestManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IAuthenticationManager1">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IFriendRequestManager1">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IFriendManager1">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IRegisterManager1">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_ILobbyManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IGameManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IStatisticsManager">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_IGameManager1">
					<security mode="None" />
				</binding>
				<binding name="NetTcpBinding_ILobbyManager1">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<client>

			<endpoint
			  address="net.tcp://172.20.10.3:8099/StatisticsManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IStatisticsManager"
			  contract="StatisticsService.IStatisticsManager"
			  name="NetTcpBinding_IStatisticsManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8091/AuthenticationManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IAuthenticationManager"
			  contract="AuthenticationService.IAuthenticationManager"
			  name="NetTcpBinding_IAuthenticationManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8095/ChatManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IChatManager"
			  contract="ChatManager.IChatManager"
			  name="NetTcpBinding_IChatManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8097/FriendRequestManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IFriendRequestManager"
			  contract="FriendRequestService.IFriendRequestManager"
			  name="NetTcpBinding_IFriendRequestManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8096/FriendManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IFriendManager"
			  contract="FriendService.IFriendManager"
			  name="NetTcpBinding_IFriendManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8098/GameManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IGameManager"
			  contract="GameService.IGameManager"
			  name="NetTcpBinding_IGameManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8092/ProfileManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IProfileManager"
			  contract="ProfileManagerService.IProfileManager"
			  name="NetTcpBinding_IProfileManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8093/RegisterManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_IRegisterManager"
			  contract="RegisterService.IRegisterManager"
			  name="NetTcpBinding_IRegisterManager" />

			<endpoint
			  address="net.tcp://172.20.10.3:8094/MatchLobbyManager"
			  binding="netTcpBinding"
			  bindingConfiguration="NetTcpBinding_ILobbyManager"
			  contract="LobbyService.ILobbyManager"
			  name="NetTcpBinding_ILobbyManager" />

		</client>

	</system.serviceModel>

</configuration>


