<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ArchsVsDinosClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<ArchsVsDinosClient.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>es-MX</value>
			</setting>
		</ArchsVsDinosClient.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IAuthenticationManager">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IProfileManager">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
				<binding name="NetTcpBinding_IRegisterManager">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8091/AuthenticationManager"
				binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthenticationManager"
				contract="AuthenticationService.IAuthenticationManager" name="NetTcpBinding_IAuthenticationManager">
				<identity>
					<userPrincipalName value="MSI\acrca" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:8093/RegisterManager"
				binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegisterManager"
				contract="RegisterService.IRegisterManager" name="NetTcpBinding_IRegisterManager">
				<identity>
					<userPrincipalName value="MSI\acrca" />
				</identity>
			</endpoint>
			<endpoint address="net.tcp://localhost:8092/ProfileManager"
				binding="netTcpBinding"
				bindingConfiguration="NetTcpBinding_IProfileManager"
				contract="ProfileManagerService.IProfileManager"
				name="NetTcpBinding_IProfileManager">
				<identity>
					<userPrincipalName value="DELLDEANDY\andre_t39m0ea" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>