USE [master]
GO
/****** Object:  Database [ArchsVsDinos]    Script Date: 07/01/2026 08:03:41 p. m. ******/
CREATE DATABASE [ArchsVsDinos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArchsVsDinos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArchsVsDinos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArchsVsDinos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArchsVsDinos_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArchsVsDinos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArchsVsDinos]
GO
/****** Object:  User [ArchsVsDinosUser]    Script Date: 07/01/2026 08:03:42 p. m. ******/
CREATE USER [ArchsVsDinosUser] FOR LOGIN [ArchsVsDinosUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ArchsVsDinosUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ArchsVsDinosUser]
GO
/****** Object:  Table [dbo].[CardBody]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardBody](
	[idCardBody] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[power] [int] NULL,
	[imagePath] [varchar](150) NOT NULL,
	[idCardGlobal] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCardBody] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardCharacter]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardCharacter](
	[idCardCharacter] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[armyType] [varchar](20) NOT NULL,
	[power] [int] NULL,
	[imagePath] [varchar](150) NOT NULL,
	[idCardGlobal] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCardCharacter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[idConfiguration] [int] IDENTITY(1,1) NOT NULL,
	[musicVolume] [int] NOT NULL,
	[soundVolume] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idConfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendRequest]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendRequest](
	[idFriendRequest] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[status] [varchar](45) NOT NULL,
	[idReceiverUser] [int] NOT NULL,
	[idUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFriendRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendship]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendship](
	[idFriendship] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](45) NOT NULL,
	[idUserFriend] [int] NOT NULL,
	[idUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idFriendship] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralMatch]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralMatch](
	[idGeneralMatch] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[gameTime] [time](7) NOT NULL,
	[matchCode] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idGeneralMatch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchParticipants]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchParticipants](
	[idMatchParticipant] [int] IDENTITY(1,1) NOT NULL,
	[idGeneralMatch] [int] NOT NULL,
	[idPlayer] [int] NOT NULL,
	[points] [int] NOT NULL,
	[isWinner] [bit] NOT NULL,
	[isDefeated] [bit] NOT NULL,
	[archaeologistsEliminated] [int] NOT NULL,
	[supremeBossesEliminated] [int] NOT NULL,
	[wasExpelled] [bit] NOT NULL,
	[expulsionReason] [nvarchar](200) NULL,
	[expulsionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMatchParticipant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[idMusic] [int] IDENTITY(1,1) NOT NULL,
	[songName] [varchar](45) NOT NULL,
	[filePath] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMusic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[idPlayer] [int] IDENTITY(1,1) NOT NULL,
	[facebook] [varchar](150) NULL,
	[instagram] [varchar](150) NULL,
	[x] [varchar](150) NULL,
	[totalWins] [int] NOT NULL,
	[totalLosses] [int] NOT NULL,
	[totalPoints] [int] NOT NULL,
	[tiktok] [varchar](150) NULL,
	[profilePicture] [varchar](255) NULL,
	[totalMatches] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPlayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strike]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strike](
	[idStrike] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[idStrikeKind] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idStrike] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StrikeKind]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrikeKind](
	[idStrikeKind] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idStrikeKind] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](254) NOT NULL,
	[password] [varchar](63) NOT NULL,
	[username] [varchar](45) NOT NULL,
	[nickname] [varchar](45) NOT NULL,
	[idConfiguration] [int] NOT NULL,
	[idPlayer] [int] NOT NULL,
	[isBanned] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHasStrike]    Script Date: 07/01/2026 08:03:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHasStrike](
	[idStrike] [int] NOT NULL,
	[idUser] [int] NOT NULL,
	[strikeDate] [datetime2](7) NULL,
 CONSTRAINT [PK_UserHasStrike] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idStrike] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GeneralMatch_MatchCode]    Script Date: 07/01/2026 08:03:42 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_GeneralMatch_MatchCode] ON [dbo].[GeneralMatch]
(
	[matchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatchParticipants] ADD  DEFAULT ((0)) FOR [archaeologistsEliminated]
GO
ALTER TABLE [dbo].[MatchParticipants] ADD  DEFAULT ((0)) FOR [supremeBossesEliminated]
GO
ALTER TABLE [dbo].[MatchParticipants] ADD  DEFAULT ((0)) FOR [wasExpelled]
GO
ALTER TABLE [dbo].[Player] ADD  DEFAULT ((0)) FOR [totalWins]
GO
ALTER TABLE [dbo].[Player] ADD  DEFAULT ((0)) FOR [totalLosses]
GO
ALTER TABLE [dbo].[Player] ADD  DEFAULT ((0)) FOR [totalPoints]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT ((0)) FOR [isBanned]
GO
ALTER TABLE [dbo].[UserHasStrike] ADD  DEFAULT (getdate()) FOR [strikeDate]
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD FOREIGN KEY([idReceiverUser])
REFERENCES [dbo].[UserAccount] ([idUser])
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[UserAccount] ([idUser])
GO
ALTER TABLE [dbo].[Friendship]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[UserAccount] ([idUser])
GO
ALTER TABLE [dbo].[Friendship]  WITH CHECK ADD FOREIGN KEY([idUserFriend])
REFERENCES [dbo].[UserAccount] ([idUser])
GO
ALTER TABLE [dbo].[MatchParticipants]  WITH CHECK ADD FOREIGN KEY([idGeneralMatch])
REFERENCES [dbo].[GeneralMatch] ([idGeneralMatch])
GO
ALTER TABLE [dbo].[MatchParticipants]  WITH CHECK ADD FOREIGN KEY([idPlayer])
REFERENCES [dbo].[Player] ([idPlayer])
GO
ALTER TABLE [dbo].[Strike]  WITH CHECK ADD FOREIGN KEY([idStrikeKind])
REFERENCES [dbo].[StrikeKind] ([idStrikeKind])
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD FOREIGN KEY([idConfiguration])
REFERENCES [dbo].[Configuration] ([idConfiguration])
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD FOREIGN KEY([idPlayer])
REFERENCES [dbo].[Player] ([idPlayer])
GO
ALTER TABLE [dbo].[UserHasStrike]  WITH CHECK ADD FOREIGN KEY([idStrike])
REFERENCES [dbo].[Strike] ([idStrike])
GO
ALTER TABLE [dbo].[UserHasStrike]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[UserAccount] ([idUser])
GO
USE [master]
GO
