<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section
		  name="entityFramework"
		  type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		  requirePermission="false" />
	</configSections>

	<connectionStrings configSource="ConnectionStrings.config" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<entityFramework>
		<providers>
			<provider
			  invariantName="System.Data.SqlClient"
			  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>

		<bindings>
			<netTcpBinding>
				<binding name="duplexBinding">
					<security mode="None" />
					<reliableSession enabled="false" />
				</binding>
				<binding name="tcpBinding">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>

			<service
			  name="ArchsVsDinosServer.Services.AuthenticationManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="AuthenticationManager"
				  binding="netTcpBinding"
				  bindingConfiguration="tcpBinding"
				  contract="Contracts.IAuthenticationManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080" />
						<add baseAddress="net.tcp://0.0.0.0:8091" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.ProfileManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="ProfileManager"
				  binding="netTcpBinding"
				  bindingConfiguration="tcpBinding"
				  contract="Contracts.IProfileManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8081" />
						<add baseAddress="net.tcp://0.0.0.0:8092" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.RegisterManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="RegisterManager"
				  binding="netTcpBinding"
				  bindingConfiguration="tcpBinding"
				  contract="Contracts.IRegisterManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://0.0.0.0:8093" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.LobbyManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="MatchLobbyManager"
				  binding="netTcpBinding"
				  bindingConfiguration="duplexBinding"
				  contract="Contracts.ILobbyManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8083" />
						<add baseAddress="net.tcp://0.0.0.0:8094" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.ChatManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="ChatManager"
				  binding="netTcpBinding"
				  bindingConfiguration="duplexBinding"
				  contract="Contracts.IChatManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8084" />
						<add baseAddress="net.tcp://0.0.0.0:8095" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.FriendManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="FriendManager"
				  binding="netTcpBinding"
				  bindingConfiguration="tcpBinding"
				  contract="Contracts.IFriendManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085" />
						<add baseAddress="net.tcp://0.0.0.0:8096" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.FriendRequestManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="FriendRequestManager"
				  binding="netTcpBinding"
				  bindingConfiguration="duplexBinding"
				  contract="Contracts.IFriendRequestManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086" />
						<add baseAddress="net.tcp://0.0.0.0:8097" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.GameManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="GameManager"
				  binding="netTcpBinding"
				  bindingConfiguration="duplexBinding"
				  contract="Contracts.IGameManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8087" />
						<add baseAddress="net.tcp://0.0.0.0:8098" />
					</baseAddresses>
				</host>
			</service>

			<service
			  name="ArchsVsDinosServer.Services.StatisticsManager"
			  behaviorConfiguration="mexBehavior">
				<endpoint
				  address="StatisticsManager"
				  binding="netTcpBinding"
				  bindingConfiguration="tcpBinding"
				  contract="Contracts.IStatisticsManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8088" />
						<add baseAddress="net.tcp://0.0.0.0:8099" />
					</baseAddresses>
				</host>
			</service>

		</services>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity
				  name="System.Memory"
				  publicKeyToken="cc7b13ffcd2ddd51"
				  culture="neutral" />
				<bindingRedirect
				  oldVersion="0.0.0.0-4.0.1.2"
				  newVersion="4.0.1.2" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity
				  name="System.Runtime.CompilerServices.Unsafe"
				  publicKeyToken="b03f5f7f11d50a3a"
				  culture="neutral" />
				<bindingRedirect
				  oldVersion="0.0.0.0-6.0.0.0"
				  newVersion="6.0.0.0" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>

</configuration>
