<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
<connectionStrings configSource="ConnectionStrings.config"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
        <service behaviorConfiguration="mexBehavior" name="ArchsVsDinosServer.Services.AuthenticationManager">
            <endpoint address="AuthenticationManager" binding="netTcpBinding" contract="Contracts.IAuthenticationManager" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8080" />
                    <add baseAddress="net.tcp://localhost:8091" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="mexBehavior" name="ArchsVsDinosServer.Services.ProfileManager">
            <endpoint address="ProfileManager" binding="netTcpBinding" contract="Contracts.IProfileManager" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8081" />
                    <add baseAddress="net.tcp://localhost:8092" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="mexBehavior" name="ArchsVsDinosServer.Services.RegisterManager">
            <endpoint address="RegisterManager" binding="netTcpBinding" contract="Contracts.IRegisterManager" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8082" />
                    <add baseAddress="net.tcp://localhost:8093" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="mexBehavior" name="ArchsVsDinosServer.Services.MatchLobbyManager">
            <endpoint address="MatchLobbyManager" binding="netTcpBinding" contract="Contracts.IMatchLobbyManager" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8083" />
                    <add baseAddress="net.tcp://localhost:8094" />
                </baseAddresses>
            </host>
        </service>
        <service behaviorConfiguration="mexBehavior" name="ArchsVsDinosServer.Services.ChatManager">
            <endpoint address="ChatManager" binding="netTcpBinding" contract="Contracts.IChatManager" />
            <host>
                <baseAddresses>
                    <add baseAddress="http://localhost:8084" />
                    <add baseAddress="net.tcp://localhost:8095" />
                </baseAddresses>
            </host>
        </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>